.gray-bg {
    background-color: #f3f3f4;
}

.layui-table-page {
    z-index: 99999;
    position: fixed;
    bottom: 10px;
}

.layui-table-box {
    /*margin-bottom: 0px;*/
}

.layui-side-scroll {
    width: 200px;
}

layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background-color: #5FB878;
    color: #fff;
}